APP_NAME="Telegram Bot"
APP_ENV=local
APP_KEY=yourAppKey
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Europe/Saratov

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=telegram_bot_db
DB_USERNAME=root
DB_PASSWORD=rootpass
DB_SIMPLEUSER=user
DB_SIMPLEUSER_PASSWORD=pass

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-north-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

TELEGRAM_BOT_TOKEN=telegram_bot_token
TELEGRAM_BOT_USERNAME=telegram_bot_username
TELEGRAM_PUBLIC_GROUP_ID=telegram_public_id

NGROK_AUTHTOKEN=ngrok_token

#Лимит на публикацию в минутах
TIME_LIMIT_TO_PUBLIC=120
